    <h1 class="outsite">Art Store Galleries</h1>
    <div ng-repeat="(id, gallery) in galleryData" class="container art-store-gallerries">
        <h2 class="outsite">{{gallery.name | capitalize}} Gallery</h2>
        <div class="container-gallery">
            <div class="row">
                <div class="row-gallery">
                    <div class="gallery-title text-center">
                        <div class="gallery-title-element gallery-title-line gallery-title-left-line"></div><div class="gallery-title-element gallery-title-text">{{gallery.name | uppercase}}</div><div class="gallery-title-element gallery-title-line gallery-title-right-line"></div>
                    </div>            
                </div>                            
            </div>
            <div class="row">
                <div class="row-gallery">
                    <article ng-repeat="(id, landing) in gallery.landingArts" class="col-xs-12 col-sm-6 col-md-4" ng-class="{'hidden-xs': id==1, 'hidden-xs hidden-sm': id==2}">
                    <h3 class="outsite">{{gallery.arts[landing-1].title | capitalize}} Art</h3>
                        <img ng-click="GoToArt(gallery.name,landing)" ng-mouseenter="galleryImgClass='gallery-img-nogray'" ng-mouseleave="galleryImgClass=''" ng-class="galleryImgClass" class="img-responsive gallery-img" ng-srcset="img/arts/thumbs/{{gallery.name}}-{{landing}}.jpg"/>
                        <div class="gallery-art-location-desc"><b>ART</b> in <b>{{gallery.name | uppercase}}</b></div>
                        <div class="gallery-art-title"><h4><b>{{gallery.arts[landing-1].title}}</b></h4></div>
                        <div class="gallery-art-desc"><p>{{gallery.arts[landing-1].desc}}</p></div>
                    </article>
                </div>                
            </div>
            <div class="row">
                <div class="row-gallery">
                    <hr>                
                </div>
            </div>
            <div class="row text-center">
                <div class="gallery-btn" ng-click="GoToArt(gallery.name,1)" ng-mouseenter="SlideUpAndDownChildByClass($event,'.gallery-btn-inner')"><div class="gallery-btn-inner">SEE MORE</div></div>
            </div>
        </div>
    </div>

