    <h1 class="outsite">Kontakt</h1>
    <div class="container">
        <h2 class="outsite">Wizjotech kontakt</h2>
        <div class="row container-products">
            <div class="col-xs-12 col-sm-6 col-lg-3 contact-show-1 well">
                <div class="col-xs-12 contact-title">
                    WIZJOTECH
                </div>
                <div class="col-xs-12 contact-desc">
                    ul. Okrętowa 37
                </div>
                <div class="col-xs-12 contact-desc">
                    01-309 Warszawa
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 contact-show-2 well">
                <div class="col-xs-12 contact-title">
                    TELEFONY
                </div>
                <div class="col-xs-12 contact-desc">
                    +48 533 463 300
                </div>
                <div class="col-xs-12 contact-desc">
                    +48 606 709 308
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 contact-show-3 well">
                <div class="col-xs-12 contact-title">
                    E-MAIL
                </div>
                <div class="col-xs-12 contact-desc">
                    <a href="mailto:biuro@wizjotech.pl">biuro@wizjotech.pl</a>
                </div>
                <div class="col-xs-12 contact-desc">
                    <a href="mailto:sklep@wizjotech.pl">sklep@wizjotech.pl</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 contact-show-4 well">
                <div class="col-xs-12 contact-title">
                    STRONY WWW
                </div>
                <div class="col-xs-12 contact-desc">
                    <a href="http://www.wizjotech.pl" target="_blank">www.wizjotech.pl</a>
                </div>
                <div class="col-xs-12 contact-desc">
                    <a href="http://www.monitorysharp.pl" target="_blank">www.monitorysharp.pl</a>
                </div>
            </div>
        </div>
    </div>

