<!DOCTYPE html>
<html lang="pl" ng-app="myApp">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Arts Store</title> 

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app/reset.css">

<!-- build:css css/app/styles.min.css -->    
    <link rel="stylesheet" href="css/app/styles.css"> 
<!-- endbuild -->

</head>

<body ng-controller="myController">

    <h2 class="outsite">Arts Store Header</h2>
    <header id="site-top" class="container">
        <div class="row">
            <h3 class="outsite">Logo</h3>
            <a href="/#/home"><div class="logo col-xs-6 col-md-4">
                <h1></h1>
                <p></p>
            </div></a>
            <div class="col-xs-4 hidden-xs hidden-sm text-center">
                <nav class="menu-center">
                <h3 class="outsite">Center Menu</h3>
                    <ul>
                        <li class="underline-link cursor-pointer" ng-mouseenter="SlideUpAndDownByClass('.menu-center-icon')" ng-click="menuCenterDropdownMenu=!menuCenterDropdownMenu">Arts <svg ng-class="{'menu-center-icon rotate-180': menuCenterDropdownMenu, 'menu-center-icon': !menuCenterDropdownMenu}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 5.1 3.3" style="enable-background:new 0 0 5.1 3.3;" xml:space="preserve"><path d="M5.1,0L2.5,3.3L0,0.1l2.6,1.5L5.1,0z"></path></svg><underline></underline></li>
                        <a href="http://pf.flash-developer.pl" target="_blank"><li class="underline-link">Portfolio<underline></underline></li></a>
                    </ul>
                </nav>                
            </div>
            <div class="col-xs-6 col-md-4 hidden-xs hidden-sm text-right">
                <nav class="menu-right">
                <h3 class="outsite">Right Menu</h3>
                    <ul>
                        <a href="/#/registration"><li class="cursor-pointer" ng-mouseenter="SlideUpAndDownChildByClass($event,'.link-desc')"><svg class="menu-right-icon" login="" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 7.5 8" style="enable-background:new 0 0 7.5 8;" xml:space="preserve"><path d="M7.3,8H0.2C-0.2,7.4,0,6.2,0.4,5.8C0.6,5.6,2,5.3,2.6,5.1C1.9,4.5,1.5,3.5,1.5,2.6C1.5,1.1,1.9,0,3.8,0C5.6,0,6,1.1,6,2.6c0,1-0.4,2-1.1,2.5c0.7,0.2,2.1,0.5,2.3,0.7C7.5,6.2,7.7,7.4,7.3,8z M6.8,6.2C6.5,6.1,5.4,5.8,4.5,5.6V4.8c0.6-0.4,1-1.4,1-2.2c0-1.1-0.3-2.1-1.7-2.1C2.3,0.5,2,1.4,2,2.6c0,0.8,0.4,1.8,1,2.2v0.8C2.1,5.8,1,6.1,0.7,6.2C0.5,6.4,0.4,7.1,0.5,7.5H7C7.1,7.1,7,6.4,6.8,6.2z"></path></svg><div class="link-desc"> REGISTER</div></li></a>
                        <span class="menu-right-separator">|</span>
                        <a href="/#/login"><li class="cursor-pointer" ng-mouseenter="SlideUpAndDownChildByClass($event,'.link-desc')"><svg class="menu-right-icon" login="" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 7.5 8" style="enable-background:new 0 0 7.5 8;" xml:space="preserve"><path d="M7.3,8H0.2C-0.2,7.4,0,6.2,0.4,5.8C0.6,5.6,2,5.3,2.6,5.1C1.9,4.5,1.5,3.5,1.5,2.6C1.5,1.1,1.9,0,3.8,0C5.6,0,6,1.1,6,2.6c0,1-0.4,2-1.1,2.5c0.7,0.2,2.1,0.5,2.3,0.7C7.5,6.2,7.7,7.4,7.3,8z M6.8,6.2C6.5,6.1,5.4,5.8,4.5,5.6V4.8c0.6-0.4,1-1.4,1-2.2c0-1.1-0.3-2.1-1.7-2.1C2.3,0.5,2,1.4,2,2.6c0,0.8,0.4,1.8,1,2.2v0.8C2.1,5.8,1,6.1,0.7,6.2C0.5,6.4,0.4,7.1,0.5,7.5H7C7.1,7.1,7,6.4,6.8,6.2z"></path></svg><div class="link-desc"><span ng-show="!userLogged"> LOGIN</span><span ng-show="userLogged"> {{user[13]}}</span></div></li></a>
                    </ul>
                </nav>                
            </div>
            <div class="col-xs-6 hidden-md hidden-lg text-right">
                <div ng-show="!menuRight" ng-click="menuRight=!menuRight" class="cursor-pointer"><svg class="menu-right-icon" hamburger="" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 12" style="enable-background:new 0 0 20 12;" xml:space="preserve"><path class="st0" d="M0.5,0h19C19.8,0,20,0.2,20,0.5C20,0.8,19.8,1,19.5,1h-19C0.2,1,0,0.8,0,0.5C0,0.2,0.2,0,0.5,0z"></path><path class="st0" d="M0.5,5.5h19C19.8,5.5,20,5.7,20,6c0,0.3-0.2,0.5-0.5,0.5h-19C0.2,6.5,0,6.3,0,6C0,5.7,0.2,5.5,0.5,5.5z"></path><path class="st0" d="M0.5,11h19c0.3,0,0.5,0.2,0.5,0.5c0,0.3-0.2,0.5-0.5,0.5h-19C0.2,12,0,11.8,0,11.5C0,11.2,0.2,11,0.5,11z"></path></svg></div>
                <div ng-show="menuRight" ng-click="menuRight=!menuRight" class="cursor-pointer"><svg class="menu-right-icon" close="" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 14.4 14.4" style="enable-background:new 0 0 14.4 14.4;" xml:space="preserve"><path class="st0" d="M7.9,7.2l6.4-6.4c0.2-0.2,0.2-0.5,0-0.7c-0.2-0.2-0.5-0.2-0.7,0L7.2,6.5L0.9,0.1C0.7,0,0.3,0,0.1,0.1C0,0.3,0,0.7,0.1,0.9l6.4,6.4l-6.4,6.4c-0.2,0.2-0.2,0.5,0,0.7c0.2,0.2,0.5,0.2,0.7,0l6.4-6.4l6.4,6.4c0.2,0.2,0.5,0.2,0.7,0c0.2-0.2,0.2-0.5,0-0.7L7.9,7.2z"></path></svg></div>
            </div>
        </div>
    </header>            

    <div class="menu-right-xs" ng-show="menuRight" class="text-center">
        <nav>
        <h3 class="outsite">Menu Right Mobile</h3>
            <ul>
                <a href="/#/home"><li>Home</li></a>
                <li ng-click="menuRightXsArts=!menuRightXsArts">Arts <svg ng-class="{'menu-center-icon rotate-180': menuRightXsArts, 'menu-center-icon': !menuRightXsArts}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 5.1 3.3" style="enable-background:new 0 0 5.1 3.3;" xml:space="preserve"><path d="M5.1,0L2.5,3.3L0,0.1l2.6,1.5L5.1,0z"></path></svg></li>
                <li ng-show="menuRightXsArts" class="menu-right-xs-submenu">
                    <div class="menu-right-xs-separator"></div>
                    <ul>
                        <li ng-repeat="gallery in galleryData" ng-click="GoToArt(gallery.name,1)">{{gallery.name}}</li>
                    </ul>
                    <div class="menu-right-xs-separator"></div>
                </li>
                <a href="http://pf.flash-developer.pl" target="_blank"><li>Portfolio</li></a>
                <a href="/#/registration"><li>Register</li></a>
                <a href="/#/login"><li>Login</li></a>
            </ul>
        </nav>                
    </div>

    <h2 class="outsite">Arts Store Context</h2>
    <div class="container">
        <aside>
            <h3 class="outsite">Slider</h3>
            <div id="w8-slider1" class="w8-slider">

                <div ng-repeat="(id, gallery) in galleryData" id="w8-slider-slide{{id+1}}" class="w8-slider-slide text-right" ng-style="{'background-color':'{{sliderCategoriesColors[id]}}'}">
                    <img class="w8-slider-slide-img img-responsive" ng-srcset="img/arts/thumbs/{{gallery.name}}-{{sliderCategoriesImageNumbers[id]}}.jpg"/>
                    <div class="w8-slider-content text-center">
                        <div class="w8-slider-name text-center">
                            <div class="w8-slider-name-element w8-slider-name-line w8-slider-name-left-line"></div><div class="w8-slider-name-element w8-slider-name-line w8-slider-name-left-line w8-slider-name-line-opacited"></div><div class="w8-slider-name-element w8-slider-name-text">{{gallery.name | uppercase}}</div><div class="w8-slider-name-element w8-slider-name-line w8-slider-name-right-line"></div><div class="w8-slider-name-element w8-slider-name-line w8-slider-name-right-line w8-slider-name-line-opacited"></div>                       
                        </div>
                        <div class="w8-slider-text text-center">
                            <div class="hidden-xs w8-slider-text-title">{{gallery.title}}</div><div class="hidden-xs hidden-sm w8-slider-text-desc">{{gallery.desc}}</div>
                        </div>
                    </div>
                </div>

                <div id="w8-slider-panel" class="text-center">
                    <img id="w8-slider-panel-btn-left" class="w8-slider-panel-btn" src="img/w8-slider/w8-slider-left.png" alt="">
                    <img id="w8-slider-panel-btn-pause" class="w8-slider-panel-btn" src="img/w8-slider/w8-slider-pause.png" alt="">
                    <img id="w8-slider-panel-btn-right" class="w8-slider-panel-btn" src="img/w8-slider/w8-slider-right.png" alt="">
                </div>
                <div id="w8-slider-panel2" class="text-center">
                </div>

            </div>

            <nav class="menu-center-bar" class="hidden-xs hidden-sm" ng-show="menuCenterDropdownMenu">
                <h3 class="outsite">Center Droplist Menu</h3>
                <ul>
                    <li ng-repeat="gallery in galleryData" class="cursor-pointer" ng-click="GoToArt(gallery.name,1)">{{gallery.name}}</li>
                </ul>
            </nav>

        </aside>
    </div>



    <div ng-view></div>



    <footer class="footer-container">
    <h2 class="outsite">Art Store Footer</h2>
        <div class="container">
            <div class="row">
                <a href="/#/home"><div class="footer-element logo col-xs-12 col-md-4 text-left">
                    <h1></h1>
                    <p></p>
                </div></a>
                <div class="footer-element col-xs-12 col-md-4 text-center">
                    <nav class="menu-center">
                    <h3 class="outsite">Footer Menu</h3>
                        <ul>
                            <a href="http://www.googles.com.pl" target="_blank"><li class="underline-link"><a href="">Mini Games</a><underline></underline></li></a>
                            <a href="http://pf.flash-developer.pl" target="_blank"><li class="underline-link"><a href="">Portfolio</a><underline></underline></li></a>
                            <a href="mailto:lipinski.m@o2.pl" target="_blank"><li class="underline-link"><a href="">Contact</a><underline></underline></li></a>
                        </ul>
                    </nav>                
                </div>
                <div class="footer-element col-xs-12 col-md-4 text-right">
                    <div class="arrow-btn" ng-click="GoToSiteTop()" ng-mouseenter="SlideUpAndDownChildByClass($event,'.btn-icon')">
                        <svg class="btn-icon rotate-180" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 5.1 3.3" style="enable-background:new 0 0 5.1 3.3;" xml:space="preserve"><path d="M5.1,0L2.5,3.3L0,0.1l2.6,1.5L5.1,0z"></path></svg>
                    </div>
                </div>
            </div>        
            <div class="row text-center copyright">
                © 2016 W8inG4DeatH
            </div>
        </div>
    </footer>

    <div class="siteLoader" style="position:fixed; left:0; top:0; background-color:#e8e8e8; width:100%; height:100%; z-index:99999;">
        <div style="position:absolute; top:50%; left:50%; margin-left:-50px; margin-right:-50px;">
            <img src="img/ring.gif">
        </div>
    </div>

</body>

<!-- SCRIPTS -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.min.js"></script>

<!-- build:js js/app/scripts.js -->
    <script src="js/app/filters.js"></script>
    <script src="js/app/directives.js"></script>
    <script src="js/app/services.js"></script>
    <script src="js/app/controllers.js"></script>
    <script src="js/app/main.js"></script>
<!-- endbuild -->

    <script>
        var app = angular.module('myApp', ['ngRoute','myControllers']);
    </script>

</html>